<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p> we bring you the best movies ever </p>
   
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>